body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}
#takeahike-logo {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: lightblue;
}
#container-all {
    margin-top: 10px;
}
#currentLocation-btn{
    position: relative;
    left: 102px;
    bottom: 54px;
}
#mapContainer{ /* Here.com Map */
    width: 1060px;
    height: 450px;
    margin-bottom: 20px;
}

#map {
    position: absolute;
    /* top: 20px; */
    bottom: 0;
    width: 100%;
}

/* Add animation style map */
#menu {
    position: absolute;
    background: #fff;
    padding-top: 15px;
    padding-right: 5px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}
.checkbox{
    border-radius: 8px;
}
.imageDiv{
    width: 210px;
    float: left;
}
.image{
    /* width: 200px; */
    margin: 0 10px 10px 0;
}
.imageName{
    font-size: 12px;
    text-align: center;
    width: 200px;
    margin-top: -5px;
}
#name-trail{
    font-size: 28px;
    color: blue;
}
#dynamic-image-display{
    margin-top: 21px;
}
#modal-btn {
    position: relative;
    float: left;
    margin-right: 10px;
}
/* #driving-btn {
    position: relative;
    float: left;
    margin-top: 10px;
} */

/* Display a popup on click - need to see how to add GeoJSON to populate info below*/
/* .mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
} */

/* #place-result-container{
    margin-bottom: 285px;
} */

/* p{
    color: white;
} */
