body {
    margin: 0;
    padding: 0;
    background-image: url(../images/background2.jpg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
}
#takeahike-logo {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    color: mediumaquamarine;
}
.btn-primary, .btn-info {
    color: black;
    background-color: mediumaquamarine;
}
hr{
    background-color: mediumaquamarine;
}
a{
    color: mediumaquamarine;
}
#container-all {
    margin-top: 10px;
}
#place-search-container {
    box-shadow: 10px 10px 5px grey;
    border-color: black;
}
#place-search {
    height: 494px;
}
#currentLocation-btn{
    position: relative;
    left: 102px;
    bottom: 54px;
}
#mapContainer{ /* Here.com Map */
    width: 1060px;
    height: 450px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 5px grey;
}
#map {
    position: absolute;
    /* top: 20px; */
    bottom: 0;
    width: 100%;
    box-shadow: 10px 10px 5px grey;
}
#menu {
    position: absolute;
    background: #fff;
    padding-right: 5px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}
.checkbox{
    border-radius: 8px;
    background-color: mediumaquamarine;
}

#gallery-head {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    text-decoration: underline;
    color: mediumaquamarine;
}
.imageDiv{
    width: 210px;
    height: 260px;
    float: left;
    text-align: center;
}
.image{
    /* width: 200px; */
    margin: 0 10px 10px 0;
    border-radius: 50%;
    border: solid mediumaquamarine 3px;
    box-shadow: 10px 10px 5px grey;
}
#place-search-input-header {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    color: mediumaquamarine;
}

#name-trail{
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    color: mediumaquamarine;
}
#place-result-container {
    box-shadow: 10px 10px 5px grey;
}
#dynamic-image-display{
    margin-top: 21px;
    margin-left: -10px;
}
#results-container {
    box-shadow: 10px 10px 5px grey;
}
#results-display {
    background-color: mediumaquamarine;
    border: solid black 1px;
}
#modal-btn {
    position: relative;
    float: left;
    margin-right: 10px;
}
#weather-detail-display {
    /* line-height: 8px; */
}
.weatherIcon {
    height: 24px;
}
